@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

body > div {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.about-userreview1::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  right: 90px;
  border-color: #2b84ed transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  z-index: 0;
}
.about-userreview1::before {
  content: '';
  display: block;
  position: absolute;
  border-color: white transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  bottom: -18.5px;
  right: 90px;
  z-index: 1;
}

.about-userreview2 {
  position: relative;
}

.about-userreview2::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 140px;
  border-color: #2b84ed transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  z-index: 0;
}
.about-userreview2::before {
  content: '';
  display: block;
  position: absolute;
  border-color: white transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  bottom: -18.5px;
  left: 140px;
  z-index: 1;
}

.about-userreview3 {
  position: relative;
}

.about-userreview3::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  right: 200px;
  border-color: #2b84ed transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  z-index: 0;
}
.about-userreview3::before {
  content: '';
  display: block;
  position: absolute;
  border-color: white transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  bottom: -18.5px;
  right: 200px;
  z-index: 1;
}

.about-userreview4 {
  position: relative;
}

.about-userreview4::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 60px;
  border-color: #2b84ed transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  z-index: 0;
}
.about-userreview4::before {
  content: '';
  display: block;
  position: absolute;
  border-color: white transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  bottom: -18.5px;
  left: 60px;
  z-index: 1;
}

.about-userreview5 {
  position: relative;
}

.about-userreview5::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 170px;
  border-color: #2b84ed transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  z-index: 0;
}
.about-userreview5::before {
  content: '';
  display: block;
  position: absolute;
  border-color: white transparent;
  border-style: solid;
  border-width: 0px 16px 20px 16px;
  transform: rotate(180deg);
  bottom: -18.5px;
  left: 170px;
  z-index: 1;
}
